<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="./css/styles.css"> 

</head>

<body>
    {{>header}}
    <p> This site was created as a part of projectof programming pathshala</p>
    <h2> {{founded}} </h2>
    <h3>{{subscription}}</h3>
     {{>footer}}
</body>
</html>
